//mixin for mobile css very helpful for writing media quries
@mixin media-mobile() {
  @media screen and (max-width: 667px) {
    @content;
  }
}

//------ Main Application Css  ------- //

.main {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;

  @include media-mobile {
    max-width: 400px;
  }
}
.main h1 {
  text-align: center;
  font-size: 44px;
  background: -webkit-linear-gradient(#f59e0b, #ea580c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media-mobile {
    font-size: 30px;
  }
}
.per-page {
  padding: 0 20px;
  display: inline-block;
  label {
    font-weight: 500;
    font-size: 15px;
  }

  select {
    min-width: 70px;
    padding: 5px 10px 5px 5px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 4px #00000024;
  }
}
.page-list {
  .ul-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
  }
  .page-item {
    .page-link {
      padding: 10px 10px;
      min-width: 40px;
      border: 1px solid #73706c2b;
      border-radius: 10px;
      transition: background-color 0.5s;
      box-shadow: 2px 3px 4px #00000024;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: #ea580c;
        border-color: #d97710;
      }
    }

    &.active {
      .page-link {
        cursor: default;
        color: #fff;
        background-color: #ea580c;
        border-color: #d97710;
      }
    }
  }
}

.filter-area {
  padding: 10px 0;
}

.card {
  width: auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: flex;

  @include media-mobile() {
    flex-direction: column;
  }
}

.left {
  width: 34%;
  @include media-mobile() {
    width: 100%;
  }
}
.left img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}
.right {
  width: 66%;
  padding-left: 20px;

  @include media-mobile() {
    width: 100%;
    padding-left: 0;
  }
}

.bar {
  label {
    @include media-mobile() {
      min-width: 100px;
      display: inline-block;
    }
  }
}

.search {
  width: 400px;
  height: 40px;
  border-radius: 7px;
  display: block;
  margin: 0 auto;
  padding: 10px;

  @include media-mobile() {
    width: 250px;
  }
}

.loading {
  text-align: center;
}

.loading img {
  width: 60px;
}

.no-results {
  color: black;
  margin: 10px 20px;
  font-size: 19px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #ff00000f;
  box-shadow: 2px 3px 4px #00000024;
  text-align: center;
}

.search-heading {
  max-width: 880px;
  padding: 4px 20px;
  display: inline-block;
}

.cat-name {
  margin: 10px 0;
  font-size: 28px;
  color: #ea580c;
  font-weight: 700;
}
mark {
  color: #ea580c;
}
.bottom-link {
  color: #d97710;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #73706c2b;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.5s;
  box-shadow: 2px 3px 4px #00000024;
}

.bottom-link:hover {
  color: white;
  background-color: #d97710;
}

.tempera {
  margin: 10px 0;
}
.origin {
  margin: 0 0 10px;
}

progress {
  accent-color: coral;
}

.row {
  display: flex;
  justify-content: space-between;

  @include media-mobile() {
    flex-direction: column;
  }
}

.row .right {
  align-self: center;
  padding-right: 40px;
  width: auto;

  @include media-mobile() {
    margin-top: 20px;
    display: block;
    text-align: center;
    padding: 0;
  }
}

.footer {
  color: #ea580c;
  font-size: 18px;
  margin: 0px 15px 10px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #080808ab;

  .bottom-link {
    margin: 5px 0;
  }

  .model-content {
    position: relative;

    img {
      height: 500px;
      object-fit: contain;
      @include media-mobile() {
        display: none;
      }
    }

    .card {
      .left {
        width: 50%;

        @include media-mobile() {
          width: 100%;
        }
      }
      .right {
        width: 50%;
        @include media-mobile() {
          width: 100%;
          margin-top: 0px;
          text-align: left;
        }
      }
    }

    .row {
      justify-content: flex-start;
      label {
        min-width: 125px;
        display: inline-block;
      }
      .left {
        width: auto;

        @include media-mobile() {
          width: 100%;
        }
      }
      .right {
        width: auto;

        @include media-mobile() {
          width: 100%;
        }
      }
    }

    .close {
      position: absolute;
      right: 33px;
      top: 33px;
      background: white;
      border: 1px solid #000;
      border-radius: 5px;
      box-shadow: 2px 3px 4px #00000024;
      cursor: pointer;
    }
  }
}
.quality {
  background-color: #ea580c;
  color: #fff;
  box-shadow: 3px 4px 6px #00000092;
  padding: 4px 10px;
  border-radius: 15px;
  margin: 2px 5px 15px;
  display: inline-block;
}
